/** debut---------- COMMUN ---------- debut**/
h1 {
  margin: 60px 60px 20px;
  color: #3B4F51;
}

.titre-jeux {
  margin: 60px 60px 20px;
  color: #3B4F51;
} 
/*
/*
/*
/*
/** debut---------- BLOC DU JEU LOGIQUE ---------- debut**/

#changerFacile{
  background-color: rgb(200, 226, 50);
}
#changerMoyen{
  background-color: rgb(26, 192, 192);
}
#changerDifficile{
  background-color: rgb(130, 16, 158);
}
#changerExtreme{
  background-color: rgb(190, 109, 33);
}


#titreh2{
    margin-left: 50px;
}

#titreh3{
    margin-top: 1em;
}

#titreh3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.sectionjeux{
    display: flex;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: space-evenly;

}
.jeux1{
    margin: auto;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 300px;
    height: 300px;
}


.jeux1 p{
    background-color: #1F3941;
    color: #aec4b8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    width: 98px;
    height: 98px;
}

button{
    margin-top: 10px;
    width: 200px;
    height: 40px;
    background: linear-gradient(#2C5364, #203A43);
    color: #aec4b8;
    border-radius: 5px;
}

button:hover {
    background: #13181a;
  }

.bouton{
    display: inline;
}

.bouton div{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.valider{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    margin: 1px;
    gap: 5px;
}

#timer{
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

#indice{
    width: 60px;
}


#interfaceJeuLogique{
  margin: 0px 0px 200px 0px;
}
/** fin---------- BLOC DU JEU LOGIQUE---------- fin**/
/*
/*
/*
/*
/** debut---------- BLOC DU JEU HANOI---------- debut**/
#h1{
  text-align: center;
}
#h3texte{
  margin-bottom: 1em;
}

#h3introduction{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tourA, #tourB, #tourC{
  width: 200px;
  height: 150px;
  border-bottom: 5px solid #1F3941;
  margin: 80px 15px 50px 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

#deplacement{
  margin: 0px 0px 15px 0px;
}

#tours {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: -50px 0px 0px 0px;
}

.disque{
  height: 30px;
  margin: 5px 5px 5px 5px;
  background-color:#1F3941;
  border-radius: 50% 50% 0% 0%;
  border: none;
}

#interactionJeu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}


/** fin---------- BLOC DU JEU HANOI---------- fin**/
/*
/*
/*
/*
/* DEBUT------FIN DE PAGE PROJET + CONTACT-----DEBUT  */



.projet h1 {
  margin: 60px 60px 20px;
  color: #536976;
}

.projet h2 {
  margin-bottom: 20px;
  text-align: center;
}

.projet-precedent img{
  width: 100px !important;
  height: 100px !important;
  box-shadow: none !important; 
}



.section-projets{
  display: flex;
  display: grid;
  grid-template-columns:  100px 300px 550px 300px 100px;
  justify-content: center;
  gap: 50px;
  
}
.section-projets div{
  display: flex;
  flex-direction: column;
  justify-content: center;

  
}
.section-projets img {
  object-fit: cover;
  transition: transform 0.5s ease;
  border-radius: 50%;
  box-shadow: 0 0 50px 5px #aec4b8;
  width: 100%; 
  display: flex;
  justify-content: center;
  
  
}
.section-projets img:hover {
  transform: scale(1.1);
  opacity: 0.3;
  z-index: 0;
}

#photoTrois, #photoUne, #photoDeux{
  z-index: 1;
  position: relative;
}
#photoTroisHover, #photoUneHover, #photoDeuxHover{
  position: absolute;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  opacity: 1;
  text-align: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
#photoDeuxHover{
  width: 550px ! important;
  height: 550px ! important;
}

h4 {
  color: #3C3C3E;
}

h4:hover {
  color: #3B4F51;
  transition: transform 0.3s ease;
  transform: scale(1.1);
}

.projet-suivant {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-left: 65px;
}

.bordure {
  color: #3B4F51;
  border-bottom: 1px solid;
  margin: 20px 300px 20px 300px;
}

/* FIN ----- SECTION "MES PROJETS" ------- FIN */
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*

   /*------------- Section RESPONSIVE----------- */
  /* --------------- TELEPHONE -------------------- */

@media screen and (max-width: 996px) {
    h1 {
      font-size: 4.4em;
      text-align: center;
    }
  
  #titreh3 {
    font-size: 25px;
    margin: 50px 90px 50px 90px;
  }

  .jeux1 p{
      width: 200px;
      height: 200px;
      font-size: 3em;
  }
  .valider{
    margin-top: 350px;
  }
  button{
    width: 300px;
    height: 90px;
    font-size: 25px;
}
#indice{
  width: 160px;
}
.sectionjeux{
  display: flex;
  display: grid;
  grid-template-columns: 300px;

}
.jeux1{
  margin: auto;
  justify-content: center;
  display: grid;
  width: 300px;
  height: 300px;
}

  .section-projets {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 0px;
  }

  #photoTrois, #photoUne{
    display: none;
  }

  #photoTroisHover, #photoUneHover, #photoDeuxHover{
    display: none;
  }
  
  .section-projets img {
    width: 400px;
    margin: 0px 0px 0px 0px;
    
  }
  #introductionJeu, #interactionJeu {
    padding: 70px;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-size: 1em;
    height: 200px;
  }
 
#btnRecommencerHanoi{
  padding: 25px;
}

.projet-suivant{
  display: none;
}

.titre-jeux{
  display: none;
}
  }
  
  
  /*------------- fin Section RESPONSIVE----------- */
