/** debut---------- COMMUN ---------- debut**/
h1{
  margin: 1em 0em 1em 0em;
}

/** FIN---------- BLOC DU JEU LOGIQUE ---------- FIN**/
/*
/*
/*
/*
/*
/*
/*
/*
/*
/** debut---------- BLOC DU JEU LOGIQUE ---------- debut**/

#changerFacile{
  background-color: rgb(200, 226, 50);
}
#changerMoyen{
  background-color: rgb(26, 192, 192);
}
#changerDifficile{
  background-color: rgb(130, 16, 158);
}
#changerExtreme{
  background-color: rgb(190, 109, 33);
}
section {
  padding: 1em !important;
}

#titreh1, #titreh2{
    margin-left: 50px;
}

#titreh3{
    margin-top: 1em;
}

#titreh3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.sectionjeux{
    display: flex;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: space-evenly;

}
.jeux1{
    margin: auto;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 300px;
    height: 300px;
}


.jeux1 p{
    background-color: #1F3941;
    color: #aec4b8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    width: 98px;
    height: 98px;
}

button{
    margin-top: 10px;
    width: 200px;
    height: 40px;
    background: linear-gradient(#2C5364, #203A43);
    color: #aec4b8;
    border-radius: 5px;
}

button:hover {
    background: #13181a;
  }

.bouton{
    display: inline;
}

.bouton div{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.valider{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    margin: 1px;
    gap: 5px;
}

#timer{
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

#indice{
    width: 60px;
}

.bordure {
  color: white !important;
}

#interfaceJeuLogique{
  margin: 0px 0px 200px 0px;
}
/** fin---------- BLOC DU JEU LOGIQUE---------- fin**/
/*
/*
/*
/*
/** debut---------- BLOC DU JEU HANOI---------- debut**/
#h1{
  margin-left: 50px;
}
#h3texte{
  margin-bottom: 1em;
}

#h3introduction{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tourA, #tourB, #tourC{
  width: 200px;
  height: 150px;
  border-bottom: 5px solid #1F3941;
  margin: 80px 15px 50px 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

#deplacement{
  margin: 0px 0px 15px 0px;
}

#tours {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: -50px 0px 0px 0px;
}

.disque{
  height: 30px;
  margin: 5px 5px 5px 5px;
  background-color:#1F3941;
  border-radius: 50% 50% 0% 0%;
  border: none;
}

#interactionJeu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/** fin---------- BLOC DU JEU HANOI---------- fin**/
/*
/*
/*
/*
/* DEBUT ----- SECTION "MES PROJETS" ------- DEBUT */
.projet {
    background: #536976;  
    background: -webkit-linear-gradient(to bottom, white, #203A43, #0F2027);  
    background: linear-gradient(to bottom, white, #203A43, #0F2027); 
    margin-top: 200px;

  }
  
  .projet-suivant {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: 65px;
    margin-bottom: 50px;
  }
  
  .projet h1 {
    margin: 60px 60px 20px;
    color: #536976;
  }
  
  h4:hover {
    color: #536976;
    transition: transform 0.3s ease;
    transform: scale(1.1);
  }
  
  .portfolio-section-photos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .text-webdesign {
    width: 1400px;
    display: flex;
    text-align: justify;
    gap: 250px;
  }
  
  .text-webdesign p {
    color: #BBD2C5;
  }
  
  .grid-projet-2 {
    display: grid;
    grid-template-columns: 380px 380px;
    gap: 450px;
  }
  
  .grid-projet-2 img {
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 50%;
  }
  
  .grid-projet-2 img:hover {
    transform: scale(1.1);
  }



   /*------------- Section RESPONSIVE----------- */
  /* --------------- TELEPHONE -------------------- */

@media screen and (max-width: 996px) {
    .couleur-fond-intro {
      height: 750px;
    }
  
    h1 {
      font-size: 4.4em;
    }
  
    .accueil-introduction {
      width: 80%;
    }
  
    .cta {
      padding: 40px 50px;
      display: flex;
      justify-content: center;
      font-size: 2em;
    }
  
    .accueil-introduction p {
      font-size: 2em;
      margin: 80px 0px 30px 0px;
    }
  
    .titre-projet h1 {
      font-size: 4em;
    }
  
    .texte-profil {
      margin: 50px 60px;
    }
  
    .rubrique-projet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 150px;
    }
  
    .rubrique-projet p {
      font-size: 2em;
      margin-top: 50px;
    }
  
    .grid-projet-2 {
      display: flex;
      gap: 50px;
      margin-bottom: -60px;
    }
  
    #logoMAR {
      margin-left: 0px;
    }
  
    .grid-projet {
      display: flex;
      flex-direction: column;
    }
  
    .grid-projet-2 img {
      width: 400px;
      margin: 0px 0px 0px 0px;
    }
  
    .text-webdesign {
      display: none;
    }
  
    .informatique {
      display: flex;
      justify-content: center;
      align-content: center;
      gap: 90px;
    }
  
    #info2 {
      margin-left: 190px;
    }
  
    #info img {
      margin-top: 30px;
    }
  
    .accueil-photos {
      padding: 20px;
    }
  
    .circle {
      width: 600px;
      height: 600px;
      margin-left: 100px;
    }
  
    .informatique img {
      width: 80%;
      height: 80%;
      object-fit: cover;
      transition: transform 0.3s ease;
      z-index: 1;
    }
  

    #titreh1, #titreh2{
      margin:50px 0px 50px 50px;
  }
  #titreh3 {
    font-size: 25px;
    margin: 50px 90px 50px 90px;
  }

  .jeux1 p{
      width: 200px;
      height: 200px;
      font-size: 3em;
  }
  .valider{
    margin-top: 350px;
  }
  button{
    width: 300px;
    height: 90px;
    font-size: 25px;
}
#indice{
  width: 160px;
}
.sectionjeux{
  display: flex;
  display: grid;
  grid-template-columns: 300px;

}
.jeux1{
  margin: auto;
  justify-content: center;
  display: grid;
  width: 300px;
  height: 300px;
}


  }
  
  /*------------- fin Section RESPONSIVE----------- */
