h1 {
  margin: 60px 60px 20px;
  color: #f08374;
}

.titre-projet-js {
  margin: 60px 60px 20px;
  color: #f08374;
}

h2 {
  margin-bottom: 20px;
  color: #f08374;
}

h4 {
  color: #3c3c3e;
}

h4:hover {
  color: #f08374;
  transition: transform 0.3s ease;
  transform: scale(1.1);
}

.bordure {
  color: #f08374;
  border-bottom: 1px solid;
  margin: 20px 300px 20px 300px;
}

.projet-suivant {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-left: 65px;
}

/* DEBUT----------GRID PROJET------------------- */
.portfolio-section-photos {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 100px 0px 100px 0px;
  background-color: #f0827413;
  padding: 50px;
}

.portfolio-section-photos p {
  margin-right: 100px;
}

.text-webdesign {
  width: 900px;
}

.grid-projet img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* FIN----------GRID PROJET------------------- */

/* DEBUT------grid 1 PROJET-----DEBUT  */
.grid-projet-1 {
  display: grid;
  grid-template-columns: 450px 450px 450px;
  gap: 50px;
  margin-bottom: 80px;
}

.grid-projet-1 img {
  width: 100%;
  object-fit: cover;
  border: 1px solid #f08374;
}

.grid-projet-2 {
  display: grid;
  grid-template-columns: 550px 590px;
  gap: 30px;
}

.grid-projet-2 img {
  width: 100%;
  object-fit: cover;
  border: 1px solid #f08374;
}

.grid-projet-3 {
  display: grid;
  grid-template-columns: 550px 550px;
  gap: 30px;
  margin-bottom: 80px;
}

.grid-projet-3 img {
  width: 100%;
  object-fit: cover;
  border: 1px solid #f08374;
}

.portfolio-section-photos-1 {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio-section-photos-1 h3 {
  margin: 100px 0px 100px 0px;
  background-color: #f0827413;
  padding: 50px;
}
/* FIN------grid 1 PROJET-----FIN  */
/* DEBUT------FIN DE PAGE PROJET + CONTATC-----DEBUT  */

.portfolio-section-photos a {
  color: #3c3c3e;
}

.text-webdesign em:hover {
  font-weight: 900;
  color: #f08374;
}

.portfolio-section-photos-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-projet-4 {
  display: grid;
  grid-template-columns: 380px;
  gap: 450px;
}

.grid-projet-4 img {
  object-fit: cover;
  transition: transform 0.3s ease;
  border-radius: 50%;
  margin-bottom: 180px;
}

.grid-projet-4 img:hover {
  transform: scale(1.1);
}

.projet {
  background: #536976;
  background: -webkit-linear-gradient(to bottom, white, #203a43, #0f2027);
  background: linear-gradient(to bottom, white, #203a43, #0f2027);
}

.projet h1 {
  margin: 60px 60px 20px;
  color: #536976;
}

.projet h2 {
  margin-bottom: 20px;
  color: #bbd2c5;
  text-align: center;
}

footer {
  background: #0f2027;
  color: #bbd2c5;
}

/*------------- Section RESPONSIVE----------- */
@media screen and (max-width: 1024px) {
  /* Placez ici les styles pour les écrans de 24 pouces et moins */
  .portfolio-section-photos {
    margin-top: 40px;
  }

  .grid-projet-1 {
    display: grid;
    grid-template-columns: 250px 250px 250px !important;
    gap: 30px;
  }

  .grid-projet-2 {
    display: grid;
    grid-template-columns: 400px 400px;
    gap: 30px;
    margin-bottom: 80px;
  }

  .grid-projet-3 {
    display: grid;
    grid-template-columns: 400px 400px;
    gap: 30px;
    margin-bottom: 80px;
  }

  .grid-projet {
    display: grid;
    grid-template-columns: 700px;
    gap: 30px;
    margin-bottom: 80px;
  }

  .text-webdesign-test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-nom-email {
    flex-direction: column;
    gap: 0;
  }

  header a {
    font-size: 13px;
  }

  .lien-icone img {
    margin-left: 10px;
    height: 30px;
    width: 30px;
    object-fit: cover;
  }

  header,
  footer {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
  }

  .form-nom-email {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    gap: 20px;
  }

  .form-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1501px) {
  /* Placez ici les styles pour les écrans de taille supérieure à 1500px */
  .text-webdesign-test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-nom-email {
    flex-direction: column;
    gap: 0;
  }

  header a {
    font-size: 13px;
  }

  .lien-icone img {
    margin-left: 10px;
    height: 30px;
    width: 30px;
    object-fit: cover;
  }

  header,
  footer {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .portfolio-section-photos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .grid-projet {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .grid-projet-1 {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    gap: 30px;
    margin-bottom: 80px;
  }

  p {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 996px) {
  /* Placez ici les styles pour les écrans de taille tablette */
  .titre-projet-js {
    margin: 100px 0px 100px 50px;
    color: #f08374;
  }

  h1 {
    font-size: 4.4em;
  }

  h2 {
    font-size: 2.9em;
  }

  h3 {
    font-size: 2em;
  }

  h4 {
    font-size: 2em;
    margin-bottom: 50px;
  }

  p {
    font-size: 2em;
    margin: 50px 0px 50px 50px;
  }

  .grid-projet-1 {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    gap: 30px;
    margin-bottom: 80px;
  }

  .grid-projet-2 {
    display: grid;
    grid-template-columns: 430px 430px;
    gap: 30px;
    margin-bottom: 80px;
  }

  .grid-projet-3 {
    display: grid;
    grid-template-columns: 430px 430px;
    gap: 30px;
    margin-bottom: 80px;
  }

  .grid-projet {
    display: grid;
    grid-template-columns: 750px;
    gap: 30px;
    margin-bottom: 80px;
  }

  .text-webdesign-test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-nom-email {
    flex-direction: column;
    gap: 0;
  }

  header a {
    font-size: 13px;
  }

  .lien-icone img {
    margin-left: 10px;
    height: 30px;
    width: 30px;
    object-fit: cover;
  }

  header,
  footer {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
/*------------- fin Section RESPONSIVE----------- */
